Pillow
hachoir
aiohttp
tracemoepy
asyncio
bs4
dnspython
emoji
gitpython
gpytranslate
gtts
heroku3
numpy
psutil
psycopg2-binary
pymediainfo
pyrogram
pytgcalls==3.0.0.dev22
python-dotenv
requests
speedtest-cli==2.1.3
sqlalchemy==1.3.23
telegraph
textblob
tgcrypto
urllib3
uvloop
wget
youtube-search-python
yt-dlp
opencv-python-headless
